<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noint.shelterzoo.domain.moneyLog.repository.MoneyLogRepository">
    <insert id="addMoneyLogAboutAdopt" parameterType="com.noint.shelterzoo.domain.moneyLog.vo.req.MoneyLogAddRequestVO">
        INSERT INTO money_log(user_seq, money_type, money, total_money, type, adopt_seq)
        VALUE(#{userSeq}, #{moneyType.typeStr}, #{money}, #{totalMoney}, #{purposeEnum.purposeStr}, #{adoptSeq});
    </insert>
    <insert id="addMoneyLogByCharge" parameterType="com.noint.shelterzoo.domain.moneyLog.vo.req.MoneyLogAddRequestVO">
        INSERT INTO money_log(user_seq, money_type, money, total_money, type, charge_log_seq)
            VALUE(#{userSeq}, #{moneyType.typeStr}, #{money}, #{totalMoney}, #{purposeEnum.purposeStr}, #{chargeLogSeq});
    </insert>
    <select id="getMoneyLogList" parameterType="com.noint.shelterzoo.domain.moneyLog.vo.req.MoneyLogListRequestVO" resultType="com.noint.shelterzoo.domain.moneyLog.vo.res.MoneyLogListResponseVO">
        SELECT seq AS moneyLogSeq
             , user_seq AS userSeq
             , money_type AS moneyType
             , money
             , total_money AS totalMoney
             , type
             , adopt_seq AS adoptSeq
             , support_log_seq AS supportLogSeq
             , charge_log_seq AS chargeLogSeq
             , created_at AS createAt
        FROM money_log
        WHERE user_seq = #{userSeq}
        ORDER BY seq DESC
    </select>
</mapper>
