<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.noint.shelterzoo.domain.user.repository.UserRepository">
    <select id="isExistEmail" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE email = #{email};
    </select>
    <select id="isExistNickname" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM user
        WHERE nickname = #{nickname};
    </select>
    <insert id="signup" parameterType="com.noint.shelterzoo.domain.user.vo.req.SignupRequestVO">
        INSERT INTO user(email, password, nickname)
            VALUE (#{email}, #{password}, #{nickname});
    </insert>
    <select id="getPasswordByEmail" parameterType="string" resultType="string">
        SELECT password
        FROM user
        WHERE email = #{email};
    </select>
    <select id="myInfo" parameterType="string" resultType="com.noint.shelterzoo.domain.user.vo.res.MyInfoResponseVO">
        SELECT seq
             , email
             , nickname
             , money
             , state
             , created_at AS createdAt
        FROM user
        WHERE email = #{email};
    </select>
    <update id="resign" parameterType="com.noint.shelterzoo.domain.user.vo.req.ResignRequestVO">
        UPDATE user
        SET state = #{stateEnum.state}
        WHERE seq = #{seq};
    </update>
    <select id="getUserMoney" parameterType="long" resultType="decimal">
        SELECT money
        FROM user
        WHERE seq = #{userSeq};
    </select>
    <update id="userMoneyUpdate" parameterType="com.noint.shelterzoo.domain.user.vo.req.MoneyUpdateRequestVO">
        UPDATE user
        SET money = #{totalMoney}
        WHERE seq = #{userSeq};
    </update>
</mapper>
